/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 1px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en pantallas pequeñas */
}

.contenido {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.contenido li {
    margin: 0 20px;
}

.contenido li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.contenido li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

nav .logo {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

nav .logo img {
    max-height: 50px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

nav .logo img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.imagen-grande img {
    width: 100%;
    height: auto;
    display: block;
}

/* Media Queries para Responsive Design */

/* Para tablets */
@media (max-width: 768px) {
    nav {
        flex-direction: column; /* Cambia la dirección a vertical */
        align-items: center;
    }

    .contenido {
        flex-direction: column; /* Cambia la dirección a vertical */
        align-items: center;
        margin: 10px 0;
    }

    .contenido li {
        margin: 10px 0; /* Reduce el margen entre elementos */
    }

    nav .logo {
        order: -1; /* Mueve el logo al principio */
        margin-bottom: 10px;
    }
}

/* Para móviles */
@media (max-width: 480px) {
    header {
        padding: 10px;
    }

    .contenido li {
        margin: 5px 0; /* Reduce aún más el margen entre elementos */
    }

    nav .logo img {
        max-height: 40px; /* Reduce el tamaño del logo en móviles */
    }
}